@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

body {
    font-family: 'Droid Serif';
}

* {
    color: white;
}

h1, h2, h3 {
    font-family: 'Yanone Kaffeesatz';
    font-weight: normal;
}

.remark-code, .remark-inline-code {
    font-family: 'Ubuntu Mono';
}

.remark-slide-container {
    background-image: url(img/back2.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.remark-slide-content {
    background-image: url(img/back6.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
